@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap'); 

* {
    padding:0;
    margin:0;
    font-size: 100%;
    box-sizing: border-box; /*conteudo + broda = width*/
    font-family: 'Roboto', sans-serif;
    
}

.row {
    margin: 0;
}

.container {
    padding: 70px;
}

/* Nav Bar */
header, .navbar {
    background-color: #295872;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
}

.navbar-brand {
    padding: 0;
    color: #ffffff;
}

.navbar-brand:hover {
    color: #FFF;
}

#navbar-links a {
    color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

.container-principal { /* Este container pega toda a landing page, só não pega o footer.*/
    border:solid 1px yellow;
    max-width: 1400px;
    margin: 0 auto;
    background-color: #f7f7f7;
}

/*................................Sessão Cursos.........................*/
.textos-cabecalho {
    /*border: solid 1px red;*/
    margin: 0 4% 0 4%;
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    line-height: 1.8;
}
h2 {
    font-size: 2em;
}

h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.colorido-azul {
   
    font-size: 1.4em;
    margin: 2px;
    color: #295872;
    
}

#landing-cursos {
    border: solid 1px red;
    padding: 5px;  
}

.todos-cursos {
    /*border: solid 1px red;*/
    display: flex;
    justify-content: center;

}

.detalhe-curso {
    /*border: solid 1px red;*/
    width: 23%;
    margin: 5px;
    padding:10px;
    text-align: left;
    background-color: #8dbeda42;
    border-radius: 5px;
}



.textos-curso {
    /*border: solid 1px red;*/
    width: 92%;
}

.button {
    background-color: #67a8cd/*#295872*/;
    border: none;
    color: rgb(37, 37, 37);
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 46%; /* Para centralziar o botão ao centro, já que a box pai está confirugrada com text-align: left, encontrei a seguinte notação: "Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%" .  */
    margin-left:27%;
    margin-right:27%;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.4s;
  }

.button:hover {
    background-color: #4292bf;
    color: rgb(37, 37, 37);
  }

  .classeIMG { 
    border-radius: 5px;
    transition: 0.5s; 
}
.classeIMG:hover { 
    transform: scale(1.04); /*Procurar como aplicar zoom, mas não aumentar a imagem*/
    
}